<br />
<br />

<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearDdlChanged($event)">
          <mat-option *ngFor="let year of yearOptions" [value]="year.value">
            {{year.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onMonthDdlChanged($event)">
          <mat-option *ngFor="let month of monthOptions" [value]="month.value">
            {{month.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="    margin-left: 50px;" *ngIf="showInfo">
        <input matInput placeholder="Spanish Zip Code" [formControl]="zipcode">
      </mat-form-field>
      <div *ngIf="showInfo">
        <button mat-button (click)="getWeatherByZipCode()" class="location-btn"><mat-icon aria-hidden="True">search</mat-icon></button>
      </div>
    </div>
    <div style="float: right" title="Get your current location to show weather" *ngIf="showInfo">
      <button mat-button (click)="getLocationBrowser()" class="location-btn"><mat-icon aria-hidden="True" aria-label="Use current location">location_on</mat-icon></button>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div *ngFor="let name of dayNames" class="day-name p9 day-name-header">
        {{ name }}
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week">
          <table style="cursor:pointer;" (click)="viewDay(day)">
            <tr>
              <td>
                <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                  <span class="">{{ day.mDate.date() }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day)" [ngClass]="{ today: day.today, selected: day.selected }">
                  <span class="">{{ day.mDate.date() }}</span>
                </div>
              </td>
            </tr>
            <tr *ngIf="day.weather[0] !== undefined">
              <td style="text-align: -webkit-center">
                <span class="weather-info">{{ day.weather[0].main + " (" + day.weather[0].temperature + "ºC)" }}</span>
                <img src="{{ day.weather[0].icon}}" />
              </td>
              <td>
            </tr>
          </table>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="calendar-info" *ngIf="showInfo">
    <span>* click on the weather to display forecast details</span><br />
    <span>Weather forecast for <b>{{ cityInfo.name }} ({{ cityInfo.country }})</b></span>
  </div>
</div>


